<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Welcome to Flock</title>
	<link rel="stylesheet" href="libs/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" href="libs/font-awesome/css/font-awesome.css">
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="libs/chosen/chosen.css">

  <Link href='//api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.css' rel='stylesheet' />
  <!--[if lte IE 8]>
    <link href='//api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.ie.css' rel='stylesheet' />
  <![endif]-->
  <Script src='//api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.js'></Script>


	<link rel="stylesheet" href="stylesheets/screen.css">
	<!-- <link rel="stylesheet" media="screen" href="css/styles.css" > -->
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    </head>
    <body>
        <div id="main_container">
        

         
        </div>

        <script type='text/template' id='loginPage'>

        		<header>
			      <h1>
			        Login Page
			      </h1>
			    </header>

				<div class="container">
					<div class="row content">
						<div class="col-xs-12">




						<form class="contact_form" action="#" method="post" name="contact_form">
						
							

							<div class="input-group field-item" id="name2">
					           
						            
					        <span class="input-group-addon">
						        <i class="icon-info icon-large"></i>
						      </span>
			
					            <input type="text" class="form-control" id="name" placeholder="NAME">
					      
					          </div>
					          <div class="input-group field-item" id="email2">
						          <span class="input-group-addon">
							        <i class="icon-envelope"></i>
							      </span>
					            
					            <input type="email" class="form-control" id='email' placeholder="EMAIL">

					          </div>

					          <div class="input-group field-item" id="phone2">
					          	<span class="input-group-addon">
							        <i class="icon-mobile-phone"></i>
							      </span>
					            
					            <input type="tel" class="form-control" id='phone' placeholder="PHONE">
					          </div>

					          <div class="input-group field-item" id="phone2">
					          	<span class="input-group-addon">
							        <i class="icon-star"></i>
							      </span>
					            
					            <select multiple class="chzn form-control">
					                <option value="art">Art</option>
					                <option value="sports">Sports</option>
					                <option value="music">Music</option>
					                <option value="technology">Technology</option>
					                <option value="food">Food</option>
					            </select>
					          </div>


							

							
					        <div class="row">
						        <div class="col-xs-12 btn-container">
						            <button class="btn btn-blue btn-wide submit" type="button" id='enterLoginInfo'>Submit</button>
								</div>  
							</div>


					
				</form>

						</div>

					
			</div>
        </div>

        </script>

        <script type='text/template' id='attendeesListTemplate'>
            <ul id='attendeeList'></ul>
        </script>

        <script type='text/template' id='attendeeTemplate'>

        <div id='attendee'>
            <p id='aname'> <%-name %> </p>
            <p id='aphone'> <%-meta.phone %> </p>
            <p id='aemail'> <%-meta.email %> </p>
        </div>

        </script>

        <script type='text/template' id='attendeesListTemplate'>
            <ul id='attendeeList'></ul>
        </script>

        <script type='text/template' id='attendeeTemplate'>

        <div id='attendee'>
            <p id='aname'> <%-name %> </p>
            <p id='aphone'> <%-meta.phone %> </p>
            <p id='aemail'> <%-meta.email %> </p>
        </div>

        </script>
        
        <!-- Template for enumerating locations -->
        <script type="text/template" id="locationPage">
      
            <div id='map'></div>
        	<ul id="locations">

        	</ul>
        </script>
        
        <!-- Template for Chat Menu -->
        <script type="text/template" id="chatMenuTemplate">

        <div class="col-xs-12 btn-container">

        <table>
        <tr>

               <button class="btn btn-blue btn-wide submit" type="button" id='defaultChat'>Default Chat</button> </tr>
               <tr>
               <td>
        <button class="btn btn-blue btn-wide submit" type="button" id='artChat' >Art Chat</button> </td>
        <td><button class="btn btn-blue btn-wide submit" class="btn btn-blue btn-wide submit" type="button" id='artAttendees'><%-numberOfArtAttendees %> Users</button></td>
        </tr>

<tr>
               <td>
        <button class="btn btn-blue btn-wide submit" type="button" id='sportsChat'>Sports Chat</button></td>
        <td>
        <button class="btn btn-blue btn-wide submit" type="button" id='sportsAttendees'><%-numberOfSportsAttendees%> Users</button>
        </td>
        </tr>
    
    <tr>
               <td>
        <button class="btn btn-blue btn-wide submit" type="button" id='musicChat'>Music Chat</button></td>
        <td>
        <button class="btn btn-blue btn-wide submit" type="button" id='musicAttendees'><%-numberOfMusicAttendees%> Users</button>
        </td>
        </tr>
    
    <tr>
               <td>
        <button class="btn btn-blue btn-wide submit" type="button" id='technologyChat'>Technology Chat</button></td>
        <td>
        <button class="btn btn-blue btn-wide submit" type="button" id='technologyAttendees'><%-numberOfTechnologyAttendees%> Users</button>
        </td>
        </tr>
    
    <tr>
               <td>
        <button class="btn btn-blue btn-wide submit" type="button" id='foodChat'>Food Chat</button></td>
        <td>
        <button class="btn btn-blue btn-wide submit" type="button" id='foodAttendees'><%-numberOfFoodAttendees%> Users</button>
        </td>
        </tr>

        </div>
        </script>

        <script id='text/template' id='chatPage'>
        </script>
        
        <!-- Template for chatroom -->
        <script type="text/template" id="chatroom">
        	<!-- Header / Navbar -->
        	<header id="nav-bar">
        		<a href="#" id="back-chatmenu">Chat Menu</a>
        		<h1>Public</h1>
  					<h3><%- location %></h3>
        		<!--<a href="#">Friends</a>-->
        	</header>
        	
        	<div id="messages">
						<ul id="msg-list">
							<!-- For each msg /// remove later -->
							
						</ul>
					</div>
					
					<!-- Chatbox -->
					<div id="chatbox">
						<form id="chatbox-form">
							<input type="text" placeholder="Type a message" name="chatbox-input" id="chatbox-input" />
							<button type="button" name="chatbox-submit" id="chatbox-submit">+</button>
						</form>
					</div>
					
        </script>
        
        <!-- Template for the individual messages in the chatroom -->
        <script type="text/template" id="chatroom-message">
        	<li>
						<p class="msg-message"><%- message %></p>
						<span class="msg-username"><%- username %></span>
						<span class="msg-timestamp"><%- timestamp %></span>
					</li>
        </script>

        <script src="https://cdn.firebase.com/v0/firebase.js"></script>
        <script src="js/jquery-2.0.3.min.js"></script>
        <script src="libs/chosen/chosen.jquery.js"></script>
        <script src="js/underscore-min.js"></script>
        <script src="js/main.js"></script>
</body>
</html>
