@font-face {
  font-family: Lato;
  src: url("fonts/Lato-Lig.otf") format("opentype");
}

/* line 9, ../sass/screen.sass */
h1, h2, h3, h4, h5, h6, p, a, label, textarea {
  font-family: Lato, sans-serif;
}

/* line 12, ../sass/screen.sass */
body {
  font-family: Lato, sans-serif;
}

/* line 15, ../sass/screen.sass */
label {
  font-weight: 300;
  font-size: 20px;
}

/* line 20, ../sass/screen.sass */
header {
  width: 100%;
  background: #16a085;
  margin-bottom: 50px;
  text-align: center;
}
/* line 25, ../sass/screen.sass */
header h1 {
  line-height: 1;
  margin: 0;
  padding: 5px 0;
  color: white;
}

/* line 30, ../sass/screen.sass */
.input-group-addon {
  width: 40px;
}

/* line 34, ../sass/screen.sass */
.input-group > input {
  width: 80%;
}

/* line 37, ../sass/screen.sass */
.field-item {
  margin-bottom: 20px;
  width: 100%;
}
/* line 40, ../sass/screen.sass */
.field-item > div.col-xs-4 {
  text-align: right;
}
/* line 43, ../sass/screen.sass */
.field-item > div.col-xs-8 > textarea, .field-item > div.col-xs-8 > select {
  width: 80%;
}

/* line 46, ../sass/screen.sass */
.btn-container {
  text-align: center;
}

/* line 49, ../sass/screen.sass */
.btn-wide {
  padding-left: 2em;
  padding-right: 2em;
}

/* line 53, ../sass/screen.sass */
.btn.btn-blue {
  background: #38c2a7;
  color: white;
}
/* line 56, ../sass/screen.sass */
.btn.btn-blue:hover {
  background: #27b196;
}

/* line 58, ../sass/screen.sass */
.content {
  margin-bottom: 30px;
}

/* line 61, ../sass/screen.sass */
.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
  height: 34px;
  padding-left: 12px;
  color: #999999;
}

/* line 67, ../sass/screen.sass */
.chosen-container-multi .chosen-choices {
  height: 34px;
  border: 1px solid #cccccc;
}

/* line 71, ../sass/screen.sass */
.chosen-container-multi .chosen-choices li.search-choice {
  margin-top: 6px;
}
