/* line 6, ../sass/screen.sass */
h1, h2, h3, h4, h5, h6, p, a, label, textarea {
  font-family: "Source Sans Pro", sans-serif;
}

/* line 10, ../sass/screen.sass */
label {
  font-weight: 300;
  font-size: 20px;
}

/* line 15, ../sass/screen.sass */
header {
  width: 100%;
  background: #2d7ddc;
  margin-bottom: 50px;
  text-align: center;
}
/* line 20, ../sass/screen.sass */
header h1 {
  line-height: 1;
  margin: 0;
  padding: 5px 0;
  color: white;
}

/* line 25, ../sass/screen.sass */
.input-group-addon {
  width: 40px;
}

/* line 29, ../sass/screen.sass */
.input-group > input {
  width: 80%;
}

/* line 32, ../sass/screen.sass */
.field-item {
  margin-bottom: 20px;
  width: 100%;
}
/* line 35, ../sass/screen.sass */
.field-item > div.col-xs-4 {
  text-align: right;
}
/* line 38, ../sass/screen.sass */
.field-item > div.col-xs-8 > textarea, .field-item > div.col-xs-8 > select {
  width: 80%;
}

/* line 41, ../sass/screen.sass */
ul {
  padding: 0;
}
/* line 44, ../sass/screen.sass */
ul .list-item {
  list-style: none;
}

/* line 47, ../sass/screen.sass */
#messages {
  background: #ffcc00;
}

/* line 50, ../sass/screen.sass */
.msg-message {
  font-size: 22px;
}

/* line 57, ../sass/screen.sass */
.msg-timestamp {
  color: #555555;
}

/* line 61, ../sass/screen.sass */
#msg-list li {
  list-style: none;
  background: #f3f3f3;
  padding: 10px;
  border: 1px #cccccc solid;
  margin-bottom: 15px;
}

/* line 71, ../sass/screen.sass */
.btn-container {
  text-align: center;
}

/* line 74, ../sass/screen.sass */
.btn-wide {
  padding-left: 2em;
  padding-right: 2em;
}

/* line 78, ../sass/screen.sass */
.btn.btn-blue {
  background: #4f9ffe;
  color: white;
}
/* line 81, ../sass/screen.sass */
.btn.btn-blue:hover {
  background: #3e8eed;
}

/* line 83, ../sass/screen.sass */
.content {
  margin-bottom: 30px;
}

/* line 86, ../sass/screen.sass */
.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
  height: 34px;
  padding-left: 12px;
  color: #999999;
}

/* line 92, ../sass/screen.sass */
.chosen-container-multi .chosen-choices {
  height: 34px;
  border: 1px solid #cccccc;
}

/* line 96, ../sass/screen.sass */
.chosen-container-multi .chosen-choices li.search-choice {
  margin-top: 6px;
}
